<?xml version="1.0" encoding="UTF-8" ?>
<!-- ~ Copyright (c) 2012. Purple Door Systems, BV. -->


<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>

	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} [%-5p] %C{1}.%M():%L - %x%m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="TRACE" />
			<param name="LevelMax" value="INFO" />
		</filter>
	</appender>

	<!-- STANDARD JAVA LOGGING -->
	<logger name="com.curaspan.poc" additivity="false">
		<level value="debug" />
		<appender-ref ref="STDOUT" />
	</logger>


	<!-- -->
	<!-- setup log4j's root logger -->
	<!-- -->
	<root>
		<level value="error" />
		<appender-ref ref="STDOUT" />
	</root>

</log4j:configuration>